
	{% load staticfiles %}

	<!DOCTYPE html>
	<html>

	<head>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			body{
			background: url('{% static "img/prueba.jpg" %}') no-repeat center center fixed;
			background-size: cover;
			}
		</style>
		{% block content1 %}
  			<title>Login</title>
		{% endblock %}


	    <!-- Core CSS - Include with every page -->
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/prueba.css' %}">
	</head>

	<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Navegacion</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"></a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuenta <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/home">home</a></li>
	            <li><a href="#">prueba</a></li>
	            <li><a href="#">prueba</a></li>
	            <li class="divider"></li>
	            <li><a href="#">prueba</a></li>
	            <li class="divider"></li>
	            <li><a href="/logout">Deslogear</a></li>
	          </ul>
	        </li>

	      </ul>
	    </div>
	  </div>
	</nav>

	            {% block content %}
	            {% endblock %}

	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
	    {% block javascript %}
	    {% endblock %}

	</body>

	</html>
