{% extends 'base.html' %}

{% block content1 %}
  <title>Prueba</title>
{% endblock %}

{% block content %}
<div id="asdd" class="container">
  <div class="row">

    <div class="jumbotron">
      <h1>Prueba</h1>
      <p>Estas logeado</p>
    </div>
  </div>
</div>
{% endblock %}
