{% extends 'base.html' %}


{% block content %}
    {% if form.errors %}
<!--<p>Datos incorrectos Intenta de nuevo.</p> -->
<div class="alert alert-danger">
  <strong>Datos Incorrectos!</strong>  Intenta de nuevo.
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>.</p>
    {% endif %}
{% endif %}
    <div id="asd" class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ingrese sus datos</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <p class="bs-component">
                                <table>
                                    <tr>
                                        <td>{{ form.username.label_tag }}</td>
                                        <td>{{ form.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.password.label_tag }}</td>
                                        <td>{{ form.password }}</td>
                                    </tr>
                                </table>
                            </p>
                            <p class="bs-component">
                                <center><input class="btn btn-success btn-sm" type="submit" value="Ingresar" /></center>
                            </p>
                                <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
